.User-profile {
  display: inline-block;
  width: 10vw;
  background-color: burlywood;
  padding: 1rem;
  margin: 1rem;
}

.User-profile span {
  text-align: left;
}
.User-profile a {
  text-align: right;
}
