.User-profile {
  display: inline-block;
  width: 100%;
  background-color: burlywood;
  cursor: pointer;
  text-align: center;
  vertical-align: top;
}

.User-profile span {
  text-align: left;
}
.User-profile a {
  text-align: right;
}
